@import "tailwindcss";

/* Cor de fundo principal: Cinza Escuro (#1f2937) */
body {
  background-color: #1f2937;
  color: #f3f4f6; /* Texto claro */
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}